<div class="container">
    <div class="box">
        <div class="form">
            <h1 class="tittle">Inicia Sesi칩n</h1></br>
        
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" type="email" placeholder="ejemplo@email.com">
                    <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
            </div>

            <div class="field">
                <label class="label">Contrase침a</label>
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Contrase침a">
                    <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button id="formbutton" class="button is-primary">Iniciar sesi칩n</button>
                </div>
            </div>
        </div>
    </div>
</div>
