<section class="section">
    <div class="container">
        <!-- Start Carousel -->
        <div id="carousel-demo" class="carousel">
            <div class="item-1">
                <!-- Slide Content -->
                <img class="carousel-item" src="https://media.discordapp.net/attachments/816001549146914886/816025223962689626/home-3429674_1920_1.jpg?width=1440&height=618">
            </div>
            <div class="item-2">
                <!-- Slide Content -->
                <img class="carousel-item" src="https://media.discordapp.net/attachments/816001549146914886/816025234489737216/washing-machine-1772579_1920.jpg?width=1440&height=618">
            </div>
            <div class="item-3">
                <!-- Slide Content -->
                <img class="carousel-item" src="https://media.discordapp.net/attachments/816001549146914886/816025235232784424/pexels-pixabay-48889.jpg?width=1440&height=618">
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</section>